# Roblox .gitignore

.env
env.luau

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# dependency directories
Packages
ServerPackages
node_modules

# build files
placeAssets
sourcemap.json
build

# project place file
*.rbxlx
*.rbxl

# lock files
*.lock
package-lock.json